---
const { info } = Astro.props
const { sobreMim } = info
---

<div class="bg-slate-900 rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-3 text-gray-300">Sobre Mim</h2>
    <div class="text-gray-300">
        {sobreMim}
    </div>
</div>